/flask_backend/database.ini

# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
flask_backend/venv/

# IDE/editor specific files (if using VS Code, PyCharm, etc.)
.vscode/
.idea/

# Other common Python artifacts
*.log
*.sqlite

__pycache__/
*.pyc
venv/
.vscode/

# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
flask_backend/venv/

# IDE/editor specific files (if using VS Code, PyCharm, etc.)
.vscode/
.idea/

# Other common Python artifacts
*.log
*.sqlite