Flask==3.1.0
flask_cors==5.0.1
Flask_JWT_Extended==4.7.1
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.40
psycopg2==2.9.10
python-dotenv==1.1.0
supabase==2.15.0
pytesseract==0.3.13
opencv-python==4.11.0.86
google-auth==2.39.0
google-genai==1.11.0
fitz==0.0.1.dev2
PyMuPDF==1.25.5
google-generativeai==0.8.5
rouge_score==0.1.2
openai==1.76.0
pgvector==0.4.1
